$primary-color: #1e2046;
$second-color: #313575;
$thirs-color: #6175f9;
$fourth-color: #5bd6b8;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-30deg, $second-color, $primary-color 60%);
}

h1 {
    font-weight: 500;
    font-size: 3.2rem;
    color: white;
}

h2 {
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    max-width: 620px;
    color: white;
}

main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.media {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

i {
    background: linear-gradient(-30deg, $fourth-color, $thirs-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 300ms ease-out;
    &:hover {
        background: $thirs-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}