html, body {
    margin: 0;
    background-image: url("./media/desk-home-office-indoor.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

h1, h2 {
    margin: 10px;
    font-family: "Raleway", sans-serif;
    color: rgb(45, 68, 119);
}

.incipit {

    width: 50%;

    position: relative;
    top: 30%;
    left: 45%;

    text-align: center;

}
