body {
    background: url("./media/galaxy.jpg") no-repeat center center fixed;
    padding: 0;
    margin: 0;
}

main {
    background: rgba(4, 4, 12, 0.877);
    
    padding: 20px 15px 15px 20px;
    margin-top: 10em;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.8px;
    color: rgb(189, 189, 216);
}

div {
    padding: 0% 20% 0% 20%;
}

h1 {
    padding: 0;
    margin: 0;

    font-size: 2.4em;
}

h2 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
}

.keyword {
    font-weight: bolder;
}

@media screen and (min-width: 1280px) {
    body {
        background: url("./media/galaxy-big.jpg") no-repeat center center fixed;
        padding: 0;
        margin: 0;
    }
}