body {
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: #1e2046;
  background-image: url("./media/images/background_shape.png");

  color: white;
  font-family: "Montserrat", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

h1 {
  font-size: 48px;
  margin: 64px 0px 32px 0px;
  padding: 0;
}

h2 {
  margin: 0px 0px 32px 0px;
}

p {
  margin: 0px 0px 24vh 0px;
}

a {
  text-decoration: none;
}

.content {
  margin: 75px;
  padding: 16px;
  width: 1400px;
  height: 800px;
}

.intro-card {
  position: relative;
  right: 1vw;
  font-size: 18px;
  width: 570px;
  text-align: justify;
}

.social-media {
  display: flex;
}

.social-media a {
  margin: 8px 24px;
}

.portfolio {
  display: flex;
}

.portfolio a {
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  background: rgb(99, 112, 252);
  background: linear-gradient(
    135deg,
    rgba(99, 112, 252, 1) 0%,
    rgba(41, 171, 154, 1) 100%
  );
  border-radius: 30px;
  padding: 10px 16px;
  min-width: 160px;
}

.title {
  width: 800px;
}
